*~
*.csv
*.cpg
*.dbf
*.doc
*.jpeg
*.mp4
*.prj
*.pyc
*.shp
*.shx
*.swp
*.tif
*.pdf
*.qpj
*.tiff
*.xml
*.zip
*.bak
.coverage
.directory
coordinates.txt
priima.local_config.yml
tags
data/
fast_cast/build
forecasts/
htmlcov/
opencv/
scripts/
venv/
problems/
subScenes/
shapefiles
